* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v3_90 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_174 {
  width: 100%;
  height: 146px;
  background: url("../images/v3_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 30px;
  overflow: hidden;
}
.v3_175 {
  width: 409px;
  color: rgba(105,37,33,1);
  position: absolute;
  top: 31px;
  left: 150px;
  font-family: Dancing Script;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v3_176 {
  width: 578px;
  height: 54px;
  background: url("../images/v3_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 781px;
  overflow: hidden;
}
.v3_177 {
  width: 183px;
  color: rgba(105,37,33,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v3_178 {
  width: 183px;
  color: rgba(105,37,33,1);
  position: absolute;
  top: 0px;
  left: 197px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v3_179 {
  width: 183px;
  color: rgba(105,37,33,1);
  position: absolute;
  top: 0px;
  left: 281px;
  font-family: Nunito;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v3_180 {
  width: 180px;
  height: 121px;
  background: url("../images/v3_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v3_181 {
  width: 275px;
  height: 240px;
  background: url("../images/v3_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 887px;
  overflow: hidden;
}
.v3_182 {
  width: 249px;
  height: 260px;
  background: url("../images/v3_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 717px;
  left: 359px;
  overflow: hidden;
}
.v3_183 {
  width: 269px;
  height: 267px;
  background: url("../images/v3_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 180px;
  overflow: hidden;
}
.v3_184 {
  width: 280px;
  height: 274px;
  background: url("../images/v3_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 638px;
  overflow: hidden;
}
.v3_185 {
  width: 256px;
  height: 287px;
  background: url("../images/v3_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 368px;
  left: 1063px;
  overflow: hidden;
}
.v24_2 {
  width: 955px;
  color: rgba(105,37,33,1);
  position: absolute;
  top: 25px;
  left: 265px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rambla;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v3_186 {
  width: 318px;
  color: rgba(61,10,7,1);
  position: absolute;
  top: 268px;
  left: 561px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
